                            /*Tag Selectors*/
body{
  margin: 0;
  background-image: url("images/vvaykas.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #0d1117;
}

                            /*Class Selectors*/

      /* Buttons */
.btn{
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0;
  background-size: cover;
  font-family: Montserrat, serif;
  font-weight: 900;
  background-color: white;
  border-radius: 10px;
  border: 3px solid grey;
}
.btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7{
  font-family: Montserrat, serif;
  font-weight: 900;
}
.currentButtonHeight{
  margin-top: 450px;
  width: 50px;
}
.row{
  padding: 0 3%;
}
.p1, .p2, .p3, .p4, .p5, .p6, .p7{
  margin-top: 35%;
}

      /* Navigation Bar */
.navbar-item{
  padding: 0 3%;
  width: 170px;
  text-align: left;
}
.brand{
  padding-left: 3%;
  font-weight: 900;
  text-shadow: -0.5px 0 red, 0 0.5px red, 0.5px 0 red, 0 -0.5px red;
  color: white;
}
.navbar-nav{
  padding: 2% 3% 0;
}
.nav-link{
    color: white;
    text-shadow: -0.5px 0 green, 0 0.5px green, 0.5px 0 green, 0 -0.5px green;
}

      /* General */
.redBackground{
  background-color: red;
}
.yellowBackground{
  border-color: yellow;
}
.pressAnimation{
  background-color: grey;
  opacity: 0.8;
}
.star-hidden{
  text-align: center;
  width: 25px;
  visibility: hidden;
  position: absolute;
}
.star-visible{
  text-align: center;
  width: 25px;
  visibility: visible;
  position: absolute;
}
.successFailure{
  padding-top: 450px;
  padding-bottom: 3%;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
  position: relative;
  text-align: center;
  opacity: 0;
}
.invisible{
  visibility: hidden;
}
.failure{
  text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}
